<div>
    <h2 {% if tailwind_css %}class="text-3xl font-bold underline"{% endif %}>
        This is the home page
    </h2>
    <p {% if tailwind_css %}class="text-lg font-mono"{% endif %}>
        Find it in 'src/js/pages/Index.svelte'
    </p>
</div>
