{
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "{% if tailwind_css %}TAILWIND_MODE=watch {% endif %}vite",
    "build": "{% if tailwind_css %}TAILWIND_MODE=build {% endif %}vite build"
  },
  "overrides": {
    "vite": {
      "rollup": "npm:@rollup/wasm-node"
    }
  },
  "dependencies": {
    {% if frontend == 'vue' %}
    "vue": "^3.5.13",
    "@inertiajs/vue3": "^2.0.0",
    {% elif frontend == 'react' %}
    "react": "^18.0.0",
    "react-dom": "^18.0.0",
    "@inertiajs/react": "^2.0.0",
    {% elif frontend == 'svelte' %}
    "svelte": "^5.0.0",
    "@inertiajs/svelte": "^1.2.0",
    {% endif %}
    "@inertiajs/inertia": "^0.11.1",
    "@inertiajs/progress": "^0.2.7",
    "axios": "^1.7.9"
  },
  "devDependencies": {
    {% if frontend == 'vue' %}"@vitejs/plugin-vue": "^5.2.1",
    {% elif frontend == 'react' %}"@vitejs/plugin-react": "^4.3.4",
    {% elif frontend == 'svelte' %}"@sveltejs/vite-plugin-svelte": "^5.0.0",{% endif %}
    {% if tailwind_css %}
    "@tailwindcss/vite": "^4.0.0",
    "tailwindcss": "^4.0.0",
    {% endif %}
    "vite": "^6.0.6"
  }
}
