/** @type {import('tailwindcss').Config} */
module.exports = {
	content: [
		"./src/**/*.{vue,js,ts,jsx,tsx}",
		"./**/templates/**/*.html",
		"!**/node_modules",
	],
	theme: {
		extend: {},
	},
	plugins: [],
};
