import "vite/modulepreload-polyfill";
import { InertiaProgress } from "@inertiajs/progress";
import axios from "axios";
{% if frontend == 'vue' %}
import { createInertiaApp } from "@inertiajs/inertia-vue3";
import { createApp, h } from "vue";
import Layout from "./components/Layout.vue";
{% endif %}

import "../css/main.css";

{% if frontend == 'vue' %}
const pages = import.meta.glob("./pages/**/*.vue");
{% endif %}

document.addEventListener("DOMContentLoaded", () => {
	axios.defaults.xsrfCookieName = "csrftoken";
	axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

	InertiaProgress.init({ showSpinner: true });
	{% if frontend == 'vue' %}
	createInertiaApp({
		resolve: async (name) => {
			const page = (await pages[`./pages/${name}.vue`]()).default;
			page.layout = page.layout || Layout;
			return page;
		},
		setup({ el, App, props, plugin }) {
			createApp({ render: () => h(App, props) })
				.use(plugin)
				.mount(el);
		},
	});{% endif %}
});
